:host {
  display: grid;
  justify-content: stretch;
  padding: 24px;

  .table-container {
    box-sizing: border-box;
    padding: 24px;
    display: grid;
    row-gap: 12px;

    table {
      .clickable {
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}
